/* ----------------------------------
	base
	サイト全体に適用したいスタイル
------------------------------------ */

@use "../global" as *;

// test

.test {
	@include font(18px, 44, 0.48, 400);
	// font-size: pxtovw(14, sp);
	// font-size: rem(16px);
	// font-size: fluid(24px, 40px, 390px, 1920px);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	line-height: 1.5;
	font-size: rem(16px);
	font-family: $f_yuGothic, sans-serif;
	color: $c_black;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	vertical-align: middle;
}

input {
	margin: 0;
	padding: 0;
}

textarea {
	padding: 0;
	font: inherit;
	color: inherit;
}

button {
	font: inherit;
	padding: 0;
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
}

/* stylelint-disable */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	// Google Chromeのみ以下のスタイルを適用する
	img {
		// 画像がぼやけるバグを修正するためのスタイル
		image-rendering: -webkit-optimize-contrast;
	}
}
/* stylelint-enable */
