/* ----------------------------------
	mediaquery
	メディアクエリのmixin
------------------------------------ */
@use "sass:map";
@use "sass:math";
@use "../function/" as *;

$mq-breakpoints: (
	"xs": 321px,
	"sm": 576px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	// 'xxl': 1920px,
) !default;

@mixin mq($breakpoint: md, $rule: min) {
	$breakpoint: map.get($mq-breakpoints, $breakpoint);
	@if $rule == max {
		$breakpoint: $breakpoint - 1px;
	}
	@media screen and (#{$rule}-width: $breakpoint) {
		@content;
	}
}

// カスタムmax-widthメディアクエリ
@mixin mq_custom($breakPoint) {
	@media (max-width: $breakPoint) {
		@content;
	}
}

// hover動作が使えるかつ、ポインターがマウスポインターのデバイスのみを指定するメディアクエリ
@mixin mq_hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

// テキスト情報
@mixin font($size: null, $height: null, $spacing: null, $weight: null) {
	@if $size {
		font-size: math.div($size, 16px) * 1rem;
	}

	@if $height {
		$value: strip-unit($size);
		$line-height: math.div($height, $value);

		line-height: $line-height;
	}

	@if $spacing {
		letter-spacing: calc($spacing / 1000 * 1em);
	}

	@if $weight {
		font-weight: $weight;
	}
}
